body {
  font-family: 'helvetica neue', sans-serif;
}


.emoji {
  height: 250px;
  width: 200px;
  border-radius: 100px;
  border: 1px solid pink;
  text-align: center;
  font-size: 50px;
  box-sizing: border-box;
  padding-top: 30px;
  background-color: rosybrown;
  color: blanchedalmond;
}
